@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Palette+Mosaic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

body{
    background-color: turquoise;
}
h1{
    font-family: 'Indie Flower', cursive;
    text-align: center;  
}
h1:hover{
    text-shadow: 3px 3px 2px gray;
}

.actor{
    font-weight: bold;
    font-style: italic;
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    text-align: center;
}
.idade{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.img{
    width: 300px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}